.contentContainer {
    padding-top: 2rem;

    text-align: center;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.mail {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--foreground-color-loud);
}

.someContainer {

    margin-top: 2rem;
    margin-bottom: 6rem;

    display: flex;
    justify-content: center;

    gap: 1rem;

    button {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 0.85rem;

        border: 1px solid var(--foreground-color-loud);
        color: var(--foreground-color-loud);
        padding: 0.5rem 1.25rem;

        svg {
            width: 1rem;
        }

        &:hover {
            color: var(--foreground-color-inverted-loud);
            background-color: var(--accent-color-ui);
            border-color: var(--accent-color-ui);

            svg {
                fill: var(--foreground-color-inverted-loud);
            }
        }
    }


}

.backToTop {

    /* detta är alt initiala utseendet när knappen inte flyter. den ligger längst ner på sidan  */

    /* när knappen sitter fast i layouten ligger den absolut  för att de inte layouten inte ska hoppa mellan flytande och fats knapp */
    position: absolute;
    left: 50%;
    bottom: 3.5rem;
    transform: scale(0.8) translateX(-60%);
    /* background-color: aqua; */

    color: var(--foreground-color-loud);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    width: max-content;

    &:hover {

        cursor: pointer;
        text-decoration: underline;
    }


}


/* tablet och upp */
@media (min-width: 426px) {
    .mail {
        font-size: 1.5rem;
    }

    .someContainer {
        margin-top: 3rem;
        margin-bottom: 8rem;

        button {

            font-size: 1rem;
            padding: 0.5rem 1.5rem;

            svg {
                width: 1.1rem;
            }
        }
    }

    .backToTop {
        bottom: 8rem;
    }

}



.floatingButton {
    position: fixed;

    transform: scale(0.8);
    bottom: 2rem;
    left: unset;
    right: 0rem;

    background-color: var(--background-color-elevated);
    box-shadow: 0 0 3px color-mix(in srgb, var(--foreground-color-regular) 50%, transparent 50%);
    z-index: 1;

    border-radius: 3rem;
}