.sectionContainer {
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.cardsContainer {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 0.5rem;
}

/* desktop och upp */
@media (min-width: 769px) {

    .sectionContainer {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cardsContainer {
        /* background-color: aquamarine; */

        padding-top: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: stretch;
        justify-items: stretch;
        gap: 1rem
    }

}