.sectionContainer {
    margin-top: 1rem;
    margin-bottom: 3rem;
}


.cardsContainer {
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-top: 0.5rem;
}

/* desktop och upp */
@media (min-width: 769px) {

    .sectionContainer {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

    .cardsContainer {
        /* background-color: aquamarine; */

        padding-top: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: stretch;
        justify-items: stretch;
        gap: 1rem
    }

}

/* MODALINNEHÅLLET: */

.modalContentContainer {
    /* border: 1px solid rgb(224, 255, 25); */


    .imageSection {
        /* border: 1px solid green; */
        display: flex;
        flex-wrap: wrap;

        gap: 0.5rem;

        @media (min-width: 426px) {
            display: grid;

            gap: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 32%));
        }
    }




    .imageContainer {

        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 40%;

        /* width: clamp(10rem, 25%, 15rem); */
        filter: drop-shadow(0 0 1px color-mix(in srgb, var(--foreground-color-regular) 33%, transparent 66%));

        /* background-color: color-mix(in srgb, --foreground-color-regular 50%, transparent 50%) */
    }


}