.experienceSection {
    background-color: var(--background-color-inverted);
    color: var(--foreground-color-inverted-muted);

    padding-bottom: 2rem;
}

.heading {
    text-align: start;
}

/* tablet och upp */
@media (min-width: 426px) {
    .experienceSection {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }

    .heading {
        text-align: center;
    }
}

/* desktop och upp */
@media (min-width: 769px) {
    .experienceSection {

        padding: 2rem 0rem;
        padding-bottom: 4rem;

    }
}