.wrapper {
    background-color: var(--background-color-elevated);
}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;


}

.logo {
    font-size: 1.25rem;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.nav a {
    padding: 0.25rem 0;
}

.nav a:hover {
    color: var(--foreground-color-loud);
    /* text-decoration: none; */
    text-decoration: wavy;
    background-color: unset;
    cursor: pointer;

}

/* tablet och uppåt */
@media (min-width: 426px) {

    .logo {
        font-size: 1.5rem;
    }
}

/* desktop och upp */
@media (min-width: 769px) {
    nav ul {
        column-gap: 2rem;
    }
}

nav ul li {
    all: unset;

    a {
        all: unset;
    }
}