:root {

    /* std */
    --foreground-color-loud: #131313;
    --foreground-color-regular: hsl(0, 0%, 40%);

    --background-color-regular: #FAF9F5;
    --background-color-elevated: var(--foreground-color-inverted);

    --accent-color-effect: #FF4960;
    --accent-color-ui: #1B93FC;

    /* inverted */
    --foreground-color-inverted: white;
    --foreground-color-inverted-muted: color-mix(in srgb, var(--foreground-color-inverted) 80%, var(--background-color-inverted)20%);

    --background-color-inverted: var(--foreground-color-loud);



}