*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  overflow-x: hidden;
  /* döljer horisontell overflow */
}


/* MIN EGEN :ROOTSTYLE */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--foreground-color-regular);
  background-color: var(--background-color-regular);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

}

a:hover {
  color: #535bf2;
  text-decoration: underline;
  background-color: hsla(237, 100%, 70%, 0.1);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;

}

/* tablet och upp */
@media (min-width: 426px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

/* desktop och upp */
@media (min-width: 769px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

p {
  white-space: pre-line;
}


.headding-loud {
  color: var(--foreground-color-loud);
  /* -webkit-text-stroke-color: var(--foreground-color-loud); */
  /* -webkit-text-stroke-width: 1px; */

  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.headding-loud-inverted {
  color: var(--foreground-color-inverted-loud);
  -webkit-text-stroke-color: var(--foreground-color-inverted-loud);
  -webkit-text-stroke-width: 1px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.content-container-width {
  max-width: 1275px;
  /* border: 1px solid green; */
  margin: auto;
}

.content-container-padding {
  padding: 0.5rem 1rem;
}

/* tablet */
@media (min-width: 426px) {
  .content-container-padding {
    padding: 0.5rem 3rem;
  }
}





button {
  all: unset;
  border-radius: 999px;
  padding: 1rem 2.5rem;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  letter-spacing: 0.5px;
}

.btn-primary {
  background-color: var(--accent-color-ui);
  color: var(--foreground-color-inverted-loud);

  &:hover {
    background-color: color-mix(in srgb, var(--accent-color-ui) 90%, var(--foreground-color-inverted-loud) 10%);
    text-shadow: 0px 0px 1px var(--foreground-color-inverted-loud);
  }

  &:active {
    background-color: color-mix(in srgb, var(--accent-color-ui) 90%, var(--foreground-color-loud) 10%);
  }

  &:focus-visible {
    outline: 2px solid var(--accent-color-ui);
    outline-offset: 2px;
  }

}

.btn-secondary {
  background-color: transparent;
  color: var(--foreground-color-regular);
  border: 1px solid var(--foreground-color-regular);

  &:hover {
    background-color: color-mix(in srgb, transparent 95%, var(--foreground-color-regular) 5%);
    text-shadow: 0px 0px 1px var(--foreground-color-regular);
  }

  &:active {
    background-color: color-mix(in srgb, transparent 90%, var(--foreground-color-regular) 10%);
  }

  &:focus-visible {
    outline: 2px solid var(--foreground-color-regular);
    outline-offset: 2px;
  }

}

.btn-primary-inverted {
  background-color: var(--foreground-color-inverted-loud);
  color: var(--foreground-color-loud);

  &:hover {
    background-color: color-mix(in srgb, var(--foreground-color-inverted-loud) 97%, var(--foreground-color-loud) 3%);
    text-shadow: 0px 0px 1px var(--foreground-color-loud);
  }

  &:active {
    background-color: color-mix(in srgb, var(--foreground-color-inverted-loud) 92%, var(--foreground-color-loud) 8%);
  }

  &:focus-visible {
    outline: 2px solid var(--foreground-color-inverted-loud);
    outline-offset: 2px;
  }

}

.btn-secondary-inverted {
  background-color: transparent;
  color: var(--foreground-color-inverted-loud);
  border: 1px solid var(--foreground-color-inverted-loud);

  &:hover {
    background-color: color-mix(in srgb, transparent 95%, var(--foreground-color-inverted-loud) 5%);
    text-shadow: 0px 0px 1px var(--foreground-color-inverted-loud);
  }

  &:active {
    background-color: color-mix(in srgb, transparent 85%, var(--foreground-color-inverted-loud) 15%);
  }

  &:focus-visible {
    outline: 2px solid var(--foreground-color-inverted-loud);
    outline-offset: 2px;
  }

}



.btn-small {
  font-size: 80%;
  padding: 0.5rem 1.5rem;
}